<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lungs Cancer Prediction</title>
    <meta name="author" content="David Grzyb">
    <meta name="description" content="">

    {% load static %}
  <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}"/>
    <link rel="stylesheet" href="/static/css/styles.css">

    <!-- Tailwind -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

        .font-family-karla {
            font-family: karla;
        }
    </style>
</head>
<body class="bg-white font-family-karla h-screen">

    <div class = "top">
        <a href="/"><p class = "top items-center justify-center" style="color: white; border-color:white;">  Lungs Cancer Prediction </p></a>
    </div>
    <div class ="flex items-center justify-center h-screen">
        <div class="text-4xl">
            OUTPUT : {{output}}
        </div>
    </div>

    

</body>
</html>
    